label{
    display: block;
    margin: 20px 0 10px
}

.error {

	background: red;

	padding: 10px;
	color : white;


}

.success{
	
	background: green;
	padding: 10px;
	color : white;

}